<ng-container *ngIf="isLoad else loader">
    <div class="modal-header">
        <h5 id="title" class="modal-title ps-5 pt-3">Agregar Alumno</h5>
        <button type="button" class="btn-close" (click)="activeModal.close('cancel')"></button>
    </div>
    <div class="modal-body">
        <div class="text-end">
            <p class="obligatory-field">(*) Campo Obligatorio </p>
        </div>
        <div class="row justify-content-center text-start g-0">
            <div class="col-11 px-2">
                <form [formGroup]="checkoutForm" #createForm="ngForm" (ngSubmit)="onSubmit(createForm)" >
                    <div class="row g-0">
                        <div class="col mb-3 pe-2">
                            <label class="mb-2" for="names" style="font-weight: bold;">Nombres <span class="required">*</span></label>
                            <small class="text-danger" style="text-align: left;"
                                *ngIf="controlIsRequired('names') && createForm.submitted"
                            >
                                (Nombres requeridos)
                            </small>
                            <input type="text" 
                                formControlName="names"
                                class="form-control" 
                                placeholder="Nombres" aria-label="Buscar" 
                                aria-describedby="basic-addon1" 
                                style="max-width: 350px; display: inline-flex;"
                                [ngClass]="{ 'is-invalid': controlIsInvalid('names') && createForm.submitted }"
                            >
                        </div>

                        <div class="col mb-3 ps-2">
                            <label class="mb-2" for="lastNames" style="font-weight: bold;">Apellidos <span class="required">*</span></label>
                            <small class="text-danger" style="text-align: left;"
                                *ngIf="controlIsRequired('lastNames') && createForm.submitted"
                            >
                                (Apellidos requeridos)
                            </small>
                            <input type="text" 
                                formControlName="lastNames"
                                class="form-control" 
                                placeholder="Apellidos" aria-label="Buscar" 
                                aria-describedby="basic-addon1" 
                                style="max-width: 350px; display: inline-flex;"
                                [ngClass]="{ 'is-invalid': controlIsInvalid('lastNames') && createForm.submitted }"
                            >
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="col mb-3 pe-2">
                            <label class="mb-2" for="rut" style="font-weight: bold;">Rut <span class="required">*</span></label>
                            <small class="text-danger" style="text-align: left;"
                                *ngIf="controlIsRequired('rut') && createForm.submitted"
                            >
                                (Rut requerido)
                            </small>
                            <input type="text" 
                                formControlName="rut"
                                class="form-control" 
                                placeholder="Rut" aria-label="Buscar" 
                                aria-describedby="basic-addon1" 
                                style="max-width: 350px;"
                                [ngClass]="{ 'is-invalid': controlIsInvalid('rut') && createForm.submitted }"
                            >
                        </div>

                        <!-- <div class="col mb-3 ps-2">
                            <label class="mb-2" for="email" style="font-weight: bold;">Email</label>
                            <small class="text-danger" style="text-align: left;"
                                *ngIf="controlIsRequired('email') && createForm.submitted"
                            >
                                (Email requerido)
                            </small>
                            <input type="text" 
                                formControlName="email"
                                class="form-control" 
                                placeholder="Email" aria-label="Buscar" 
                                aria-describedby="basic-addon1" 
                                style="max-width: 350px; display: inline-flex;"
                                [ngClass]="{ 'is-invalid': controlIsInvalid('email') && createForm.submitted }"
                            >
                        </div> -->
                    <!-- </div>-->

                    <!-- <div class="row g-0"> -->
                        <div class="col mb-3 ps-2">
                            <label class="mb-2" for="course" style="font-weight: bold;">Cursos</label>
                            <small class="text-danger" style="text-align: left;"
                                *ngIf="controlIsRequired('course') && createForm.submitted"
                            >
                                (Curso requerido)
                            </small>
                            <ng-select 
                                formControlName="course"
                                (ngModelChange)="coursesSelected($event)"
                                [multiple]="false" 
                                [closeOnSelect]="true" 
                                [searchable]="true">
                                <ng-option *ngFor="let course of newCourseList" [value]="course._id">{{course.name |capitalizeAll}}</ng-option>
                            </ng-select>
                        </div>

                        <!-- <div class="col mb-3 ps-2"></div> -->
                        
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">                        
                            <div class="text-end mt-4">
                                <button [ngClass]="{'notShow': isLoadButton}" type="submit" class="btn sucess mx-2">Editar</button>
                                <button [ngClass]="{'notShow': !isLoadButton}" disabled type="button" class="btn sucess mx-2">
                                    <div class="spinner-border spinner-border-sm" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </button>
                                <button type="button" [disabled]="isLoadButton" class="btn btn-danger ms-2" (click)="activeModal.close('cancel')">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loader>
    <shared-loader></shared-loader>
</ng-template>