<nav class="navbar navbar-light bg-light p-0">
    <div class="container-fluid font-navbar pb-3" style="background-color: #4DCAD4;">
      <a class="navbar-brand"></a>
      <form class="d-flex">
        <a type="button" class="text-center text-white mx-3 mt-3" style="text-decoration: none;">
            <i class="fas fa-circle"></i>
            <p id="text-navbar" class="m-0">Progreso</p>
        </a>
        <a type="button" class="text-center text-white mx-3 mt-3" style="text-decoration: none;">
            <i class="fas fa-circle"></i>
            <p id="text-navbar" class="m-0">Nivel</p>
        </a>
        <a type="button" class="text-center text-white mx-3 mt-3" style="text-decoration: none;">
            <i class="fas fa-circle"></i>
            <p id="text-navbar" class="m-0">Perfil</p>
        </a>
        <div class="ms-4" style="margin-top: 21px;">
            <button class="btn pt-1">Cerrar sesión</button>
        </div>
      </form>
    </div>
  </nav>