#columns {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #55AAD3;
    height: 44px;
}

.isNotAdmin {
    display: none;
}

/* table {
    overflow-x: scroll;
} */

tr {
    height: 38px;
}

td, th {
    min-width: 110px;
}

td {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #676767;
    border: none;
    padding-left: 20px;
    height: 38px;
}

.big {
    height: 250px;
}

.mid {
    min-height: 210px;
}

#edit {
    width: 70px;
    height: 22px;
    background-color: #76C768;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 10px;
}

#delete {
    width: 70px;
    height: 22px;
    background-color: #F28B7C;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 10px;
}

.btn:focus, .btn:active {
    box-shadow: none;
    outline: none;
}

#edit:hover {
    background-color: #5f9c54;
}

#delete:hover {
    background-color: #f0543c;
}

tbody tr:hover{
    /* background-color: rgb(211, 210, 210); */
    background-color: rgba(85, 170, 211, 0.35);;
}

.highlighted:hover{
    /* background-color: #63d6df !important; */
    background-color: rgba(85, 170, 211, 0.35) !important;
}

.highlighted{
    /* background-color: #63d6df; */
    background-color: rgba(85, 170, 211, 0.35);;
}

.noDisplay {
    display: none;
}

.pagination {
    justify-content: flex-end;
}

.pagination /deep/ .ngx-pagination .current {
    background: #55AAD3;
    border-radius: 50%;
}




